<!DOCTYPE html>
<html>
<head>
    <title>Authentication Service</title>
</head>
<body class="container mt-5">
    <h1 class="mb-4">Authentication Service</h1>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if output_text %}
        <div class="alert alert-success mt-4" role="alert">
            <p>{{ output_text|linebreaksbr }}</p>
        </div>
    {% endif %}
</body>
</html>
